.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;

    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header img {
    width: 60px;

}

.header {
    grid-area: h;
    background-color: #6ba1ff;
    border-radius: 10px;
}

.nav {
    padding-top: 10px;
    padding-left: 10px;
    grid-area: n;
    background-color: #1571ff;
    border-radius: 10px;
    color: aliceblue;

}

.content {

    grid-area: c;
    background-color: #e6fdff;
    border-radius: 10px;

}

.content-box {
    border-radius: 10px 10px 0 0;
    width: 993px;
    position: relative;
    overflow: hidden;
    height: 100px;
}

.content-text {
    padding-top: 10px;
    padding-left: 10px;

}